<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.min.css">
    <title>CFAPI</title>
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-nav">

            <li class="logo">
                <a href="#" class="nav-link">
                    <span class="link-text logo-text">CFAPI</span>
                    <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="angle-double-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-angle-double-right fa-w-14 fa-5x"><g class="fa-group"><path fill="currentColor" d="M224 273L88.37 409a23.78 23.78 0 0 1-33.8 0L32 386.36a23.94 23.94 0 0 1 0-33.89l96.13-96.37L32 159.73a23.94 23.94 0 0 1 0-33.89l22.44-22.79a23.78 23.78 0 0 1 33.8 0L223.88 239a23.94 23.94 0 0 1 .1 34z" class="fa-secondary"></path><path fill="currentColor" d="M415.89 273L280.34 409a23.77 23.77 0 0 1-33.79 0L224 386.26a23.94 23.94 0 0 1 0-33.89L320.11 256l-96-96.47a23.94 23.94 0 0 1 0-33.89l22.52-22.59a23.77 23.77 0 0 1 33.79 0L416 239a24 24 0 0 1-.11 34z" class="fa-primary"></path></g></svg>
                </a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link">
                    <i class="fa fa-home fa-2x" aria-hidden="true"></i>
                    <span class="link-text">Home</span>
                </a>
            </li>
            <% if (user) { %>
                <%if (user.Codeforces.length == 1) {%>
                    <li class="nav-item">
                        <a href="/profile" class="nav-link">
                            <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                            <span class="link-text"><%=user.Codeforces[0].handle%></span>
                        </a>
                    </li>
                    <!-- <a class = "right item" href="/profile"><%=user.Codeforces[0].handle%></a> -->
                <%}%>
                <li class="nav-item">
                    <a href="/auth/logout" class="nav-link">
                        <i class="fa fa-power-off fa-2x" aria-hidden="true"></i>
                        <span class="link-text">Log out</span>
                    </a>
                </li>
                <!-- <a class = "item" href="/auth/logout">Log out</a> -->
            <% } else { %>
                <li class="nav-item">
                    <a href="/auth/login" class="nav-link">
                        <i class="fa fa-sign-in fa-2x" aria-hidden="true"></i>
                        <span class="link-text">Login</span>
                    </a>
                </li>
                <!-- <a class = "right item" href="/auth/login">Login</a> -->
            <% } %>

        </ul>
    </nav>

    <main>


