<%- include('partials/header.ejs') %>

  <div class="text-content">
      <i class="fa fa-google fa-2x" aria-hidden="true"></i>
    <form action="/auth/google">
      <button class="button1"> <span>Google</span> <i class="fa fa-google fa-2x" aria-hidden="true"></i></button>
    </form>
  </div>


<%- include('partials/footer.ejs') %>