<%- include('partials/header.ejs') %>


    <div class="ui text container segment">
        <form class="ui form" action="/edit/cfhandle" method="GET">
                <div class="field">
                    <label>Enter your codeforces handle:</label>
                    <input type="text" name="username" placeholder="text">
                </div>
                <button class="ui violet big basic button">Submit</button>
        </form>
    </div>



<%- include('partials/footer.ejs') %>