:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary : #b6b6b6;
    --text-secondary : #ececec;
    --bg-primary : #23232e;
    --bg-secondary : #141418;
    --transition-speed : 600ms;
}

/* html {
    overflow: scroll;
    overflow-x: hidden;
} */
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}


body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}


main {
    margin-left: 5rem;
    padding: 1rem;
    transition: all 200ms ease;
}




/* ==========================================buttons============================== */
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #161515;
    padding: 1rem;
    margin: 0.3rem;
  }
  
.button1:hover {
    background-color: #555555;
    color: white;
    border: 2px solid #555555;
    transition: all 600ms ease;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.button1 i {
    display: none;
    transition: all 1000ms ease;
}
.button1:hover i{
    display: inline;
    transition: all 1000ms ease;
}
/* ================================================================================== */





.text-content {
    text-align: center;
}
.text-content h1 {
    font-family: "sofia-pro",sans-serif;
}
.text-content h3 {
    font-family: "attribute-mono",monospace;
}

.main-class {
    margin-left: 16rem;
    margin-bottom: 5rem;
    padding: 1rem;
    transition: all 200ms ease ;
}

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: all 200ms ease; /*you can use width instead of all */
    overflow: auto;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.fa-primary{
    color : #ff7eee;
}

.fa-secondary {
    color: #df49a6;
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

.fa-check{
    color : #90c53f;
}
.fa-times{
    color: #850b2a;
}

.nav-link:hover .fa {
    color: #df49a6;
    transition: var(--transition-speed);
}

.link-text {
    display: none;
    margin-left: 0rem;
    text-align: center;
}

.nav-link i{
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.nav-link svg{
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-2x {
    font-size: 2rem;
}

.logo svg{
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}


/* ====================================nav bar small and large screens========================================= */

/* small screens */

/* @media only screen and (max-width : 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }
    .logo {
        display: none;
    }
    .navbar-nav {
        flex-direction: row;
    }
    .nav-link {
        justify-content: center;
    }
    main{
        margin: 0;
        margin-bottom: 5rem;
    }

} */

@media only screen and (max-width : 600px) {
    .navbar {
        top : 0;
        width: 5rem; /*notice how it matches with the size of margin we left*/
        height: 100vh; /*vh  is also unit of height but relative 100 vh takes up always 100% of the height*/
    }
    .navbar:hover {
        width: 16rem;
        /*but its instant we need to animate the transition*/
    }

    .navbar:hover .link-text {
        display: block;
    }
}
/* remove above for bottom bar and uncomment the one above the above */


/* large screens*/
@media only screen and (min-width : 600px)  {
    .navbar {
        top : 0;
        width: 5rem; /*notice how it matches with the size of margin we left*/
        height: 100vh; /*vh  is also unit of height but relative 100 vh takes up always 100% of the height*/
    }
    .navbar:hover {
        width: 16rem;
        /*but its instant we need to animate the transition*/
    }

    .navbar:hover .link-text {
        display: block;
    }
}


/* ============================================================================= */